{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Chris-Jay Mabalot</h1>
      <p>Junior <span class="typed" data-typed-items="Software Engineer,Data Engineer"></span></p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/chris-jaymabalot/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Home -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>A confident, competitive, and industrious junior software and data engineer, with a keen eye for innovative solutions. Began writing code in the JavaScript language and have since then branched out to Python and many other packages listed below. Captivated by the power of Machine Learning I have the intention of obtaining a role within the financial sector and utilising my skills to support both large and small scale businesses.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'theme/assets/img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Software &amp; Data Engineer.</h3>
            <p class="fst-italic">
              idk what to put here.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>29 September 2000</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.ChrisJayMabalot.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>London, UK</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BEng Aerospace Engineering</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>MabalotChris@gmail.com</span></li>
                </ul>
              </div>
            </div>
            <p>
                Need to waffle here too.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>These are my skills and perceived technical understanding...</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">JavaScript <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML/CSS <i class="val">20%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Description...</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Chris-Jay Mabalot</h4>
              <p><em>Personal Description...</em></p>
              <ul>
                <li>London, UK</li>
                <li>MabalotChris@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BEng Aerospace Engineering</h4>
              <h5>2019 - 2022</h5>
              <p><em>Queen Mary University of London, UK</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Junior Software &amp; Data Engineer</h4>
              <h5>Jul 22 - Oct 22</h5>
              <p><em>Sigma Labs, London, UK</em></p>
              <ul>
                <li>Point 1</li>
                <li>Point 2</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Senior Structures Member</h4>
              <h5>Nov 21 - Feb 22</h5>
              <p><em>Hyperlink, London, UK</em></p>
              <ul>
                <li>Point 1</li>
                <li>Point 2</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Programs</li>
              <li data-filter=".filter-web">Websites</li>
              <li data-filter=".filter-other">Other</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'theme/assets/img/portfolio/150.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Currency and Securities Trading Bot</h4>
                <p>App Description</p>
                <div class="portfolio-links">
                  <a href="https://github.com/ChrisMabalot/Crypto-Bot" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'theme/assets/img/portfolio/150.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Personal Portfolio</h4>
                <p>Website Description</p>
                <div class="portfolio-links">
                  <a href="https://github.com/ChrisMabalot/django-website" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-other">
            <div class="portfolio-wrap">
              <img src="{% static 'theme/assets/img/portfolio/150.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sigma Labs Training Projects</h4>
                <p>Other Description</p>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->
  </main><!-- End #main -->
{% endblock %}
